@font-face {
  font-family: 'Digital';
  src: url('./fonts/digital_dismay-webfont.eot');
  src: url('./fonts/digital_dismay-webfont.woff'),
  url('./fonts/digital_dismay-webfont.ttf'),
  url('./fonts/digital_dismay-webfont.svg');
  font-weight: 300;
  font-style: normal;

}
